.programs_heading {
  width: 80%;
  text-align: center;
  margin: 100px auto 0 auto;
}
.programs {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.program_card {
  border: 2px solid #c21717;
  padding: 4px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}

.program_card div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.program_card p {
  color: #e52727;
  font-weight: 500;
  transition: 0.5s;
}

.program_card:hover {
  background-color: #c21717;
  scale: 1.03;
}

.program_card:hover p {
  color: white;
}
.programs_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.programs_heading_para {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
.programs_heading_text{
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .programs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 420px) {
  .programs {
    margin-top: 80px;
    grid-template-columns: repeat(1, 1fr);
  }
}
